/* add code here to make your image 300px square */
#pet {
    height:300px;
    width:300px;
}

/* add code here to change the color and font family of your name/title */
h1 {
    font-family:'Times New Roman', Times, serif;
    color:blue;
}
div {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    padding-left: 150px;
    padding-right: 150px;
}
/* Bonus: change the color of your list elements */
#lutherlist {
    color:blueviolet;
}